
      <table>
        <thead>
          <tr>
              <th (click)="sort('temp')">City Name</th>
              <th>Temp</th>
              <th>Humidity</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let data of weatherData
          | orderBy: {property: column, direction: direction}" (click)="getFiveDayForeCast(data)">
            <td>{{data.name}}</td>
            <td>{{data.main.temp}}</td>
            <td>{{data.main.humidity}}</td>
          </tr>
        
        </tbody>
      </table>